extends ../base
block title
  |Fontsly
block main
  main.main.is-designers
    div.container
      div.banner
        a(href='#').banner__link
          img(src=require('../../media/banner3.png')).banner__img
      div.title-head
        h1 Font Designers
      ul.alphabet
        each el in alphabet
          li.alphabet__el
            a.alphabet__link(href= el.link)= el.title
      table.table.is-big
        thead
          tr
            th Designer
            th # Fonts
        tbody
          tr
            td
              a(href='#') Abattis
            td 1
          tr
            td
              a(href='#') Accademia di Belle Arti Urbino
            td 3
          tr
            td
              a(href='#') AdamAnt Designs
            td 6
          tr
            td
              a(href='#') Adèle Antignac
            td 7
          tr
            td
              a(href='#') Admix Designs
            td 1
          tr
            td
              a(href='#') Adobe
            td 3
          tr
            td
              a(href='#') Abattis
            td 1
          tr
            td
              a(href='#') Accademia di Belle Arti Urbino
            td 3
          tr
            td
              a(href='#') AdamAnt Designs
            td 6
          tr
            td
              a(href='#') Adèle Antignac
            td 7
          tr
            td
              a(href='#') Admix Designs
            td 1
          tr
            td
              a(href='#') Adobe
            td 3
          tr
            td
              a(href='#') Abattis
            td 1
          tr
            td
              a(href='#') Accademia di Belle Arti Urbino
            td 3
          tr
            td
              a(href='#') AdamAnt Designs
            td 6
          tr
            td
              a(href='#') Adèle Antignac
            td 7
          tr
            td
              a(href='#') Admix Designs
            td 1
          tr
            td
              a(href='#') Adobe
            td 3
          tr
            td
              a(href='#') Adèle Antignac
            td 7
          tr
            td
              a(href='#') Admix Designs
            td 1
          tr
            td
              a(href='#') Adobe
            td 3