extends ../base
block title
  |Fontsly
block main
  main.main
    div.container
      div.information
        div.title-head
          h1 Terms of Use
        span Introduction
        p These general 'terms of use' govern usage of all the fonts on this website, by using this website you agree with these terms in full together with our privacy policy. Before installation make sure you have appropriate privileges on <a>target machine</a>.
        span General Usage
        p All fonts offered on this website are either free for commercial use, free for personal/private use, shareware, donation-ware, postcard-ware, demo or on public domain. Please check the readme files bundled with the zip archive or check the author's website for <a>details</a>.
        span Log Files
        p Like many other Web sites, <a>www.fontsly.com</a> makes use of log files. These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiablels.
        h2 Frequently Asked Questions
        p Once you have downloaded the font file (ZIP format), you must run an unzipping software to extract all the files. Most of the latest operating systems have built in support for ZIP file formats so in such case you don't need any additional unzip software. Before installation make sure you have appropriate privileges on target machine.
        span Fonts not showing up in any program
        ul
          li If copy and pasted, make sure you copied a proper font file.
          li Check if installed font format is supported by target operating system.
          li Restart target application after installing new fonts.
          li If restarting the application fails, reboot operating system.
        span Font license information
        p All fonts offered on this website are either free for commercial use, free for personal/private use, shareware, donation-ware, postcard-ware, demo or on public domain. Please check the readme files bundled with the zip archive or check the author's website for details.
        p If there is no author or license related details indicated, in such cases this website cannot offer any guarantee of freedom of that font. While we try to make sure that all the fonts on this website presented with full details and are properly licensed, but there are many fonts that have either been distributed with no license information or abandoned by their authors.
