.categories-block
  padding-bottom: 20px
  background: url('../media/backgr-head-category.png') bottom center no-repeat

  &__wrap
    padding-top: 20px
    padding-bottom: 10px
    background-color: #fff

  &__top
    padding: 0 20px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding-bottom: 30px
    //height: 300px
    border-bottom: 1px solid $borderGrey

  &__bottom
    padding: 10px 20px 0 20px