.colorpicker
  margin-right: 10px
  display: flex
  align-items: center

  &__input
    padding: 0 10px
    width: 96px
    height: 32px
    line-height: 32px
    border: 1px solid $borderGrey

  &__box
    margin-left: 10px
    display: inline-block
    width: 32px
    height: 32px
    border: 1px solid $borderGrey
    cursor: pointer

.minicolors
  padding-right: 40px
  height: 32px

  .minicolors-input
    padding-left: 10px!important
    padding-right: 10px!important
    width: 90px
    height: 32px

  .minicolors-swatch
    left: initial
    top: 0
    right: 0
    padding: 2px
    width: 32px
    height: 32px
    border: 1px solid $borderGrey
    cursor: pointer
