.font

  &__head
    padding: 0 12px
    height: 34px
    line-height: 34px
    background-color: $bgGrey
    display: flex
    justify-content: space-between

  &__content
    padding: 6px 15px 6px 12px
    height: 126px
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid $borderGrey
    border-top: none