-
  const plansItems = [
    { period: '1 month', price: '$9.99', saving: 'Save 0%' },
    { period: '2 year', price: '$2.99', saving: 'Save 75%', active: true, best: true },
    { period: '6 month', price: '$4.99', saving: 'Save 25%' }
  ]

  const plansItems2 = [
    { period: '1 month', price: '$9.99', saving: 'Save 0%', active: true },
    { period: '2 year', price: '$2.99', saving: 'Save 75%', best: true },
    { period: '6 month', price: '$4.99', saving: 'Save 25%' }
  ]

  const alphabet = [
    { title: 'A', link: '#' },
    { title: 'B', link: '#' },
    { title: 'C', link: '#' },
    { title: 'D', link: '#' },
    { title: 'E', link: '#' },
    { title: 'F', link: '#' },
    { title: 'G', link: '#' },
    { title: 'H', link: '#' },
    { title: 'I', link: '#' },
    { title: 'J', link: '#' },
    { title: 'K', link: '#' },
    { title: 'L', link: '#' },
    { title: 'M', link: '#' },
    { title: 'N', link: '#' },
    { title: 'O', link: '#' },
    { title: 'P', link: '#' },
    { title: 'Q', link: '#' },
    { title: 'R', link: '#' },
    { title: 'S', link: '#' },
    { title: 'T', link: '#' },
    { title: 'U', link: '#' },
    { title: 'V', link: '#' },
    { title: 'W', link: '#' },
    { title: 'X', link: '#' },
    { title: 'Y', link: '#' },
    { title: 'Z', link: '#' },
    { title: '#', link: '#' }
  ]

  const navHeader = [
  { title: 'Recent Fonts ', link: '#' },
  { title: 'Top Fonts', link: '#' },
  { title: 'Designers', link: '#' },
  { title: 'Submit a font', link: '#' }
  ]

  const menu = [
  { title: 'Recent Fonts ', link: '#' },
  { title: 'Top Fonts', link: '#' },
  { title: 'Designers', link: '#' },
  { title: 'Submit a font', link: '#' }
  ]

  const menuListMain = [
    {
      title: 'Group 1',
      link: '#',
      fonts: [
        { title: 'Font 1', link: '#' },
        { title: 'Font 2', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' }
      ]
    },
    {
      title: 'Group 2',
      link: '#',
      fonts: [
        { title: 'Font 1', link: '#' },
        { title: 'Font 2', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' },
        { title: 'Font 3', link: '#' }
      ]
    }
  ]

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    base(target="_blank")
    meta(name="description" content="Pioneering Private Digital Transactions")
    title
      block title
  body
    include partials/header
    block main
    include partials/footer
