extends ../base
block title
  |Fontsly
block main
  div.container
    div.atom
      ul.alphabet
        each el in alphabet
          a.alphabet__link(href= el.link)= el.title
    div.atom
      div.pagination
        ul.pagination__list
          li.pagination__el
            a.pagination__link(href='#', title='Previous page')
              span.icon.is-arrow-left
          li.pagination__el
            a.pagination__link(href='#') 1
          li.pagination__el.is-active
            a.pagination__link(href='#') 2
          li.pagination__el
            a.pagination__link(href='#') 3
          li.pagination__el
            a.pagination__link(href='#') 4
          li.pagination__el
            a.pagination__link(href='#', title='Previous page')
              span Next
              span.icon.is-arrow-right
      // end pagination

    div.atom
      h1 All free fonts
      div.font
        div.font__head
          div.font-title
            a(href='#').font-title__link Matilda
            span by
            a(href='#').font-title__author Debut Studio
          div.font-script
            span in
            a(href='#').font-script__link Script
            a(href='#').font-script__link Calligraphy
        div.font__content
          div.font-logo
            a.font-logo__link(href='#')
              img.font-logo__img(src=require('../../media/font.png'))
          div.font-download
            div.quatity
              span.quatity__sum 139,773 downloads
              span.quatity__text Public domain, GPL, OFL
            div.font-download__btn
              a(href='#').btn Download
              btn.btn.transparent Donate to author

    div.atom
      div.someform
        input(type='text', placeholder='Type your text here')

    div.atom
      select
        option(value='xs') Tiny
        option(value='s') Small
        option(value='m' selected) Medium
        option(value='l') Large

    div.atom
      button.btn Update
      button.btn Clear

    div.atom
      div.menu
        a(href='#').menu__name Fancy
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon
        a(href='#').menu__link Cartoon

