extends ../base
block title
  |Fontsly
block main
  main.main.is-4-inner
    div.container
      div.title-head
        h1 Submit a font
      div.request-wrap
        ul.list.circle
          li.list__el Diffusion on this site is not automatic. It is a selection, each font is submitted to review.
          li.list__el Fonts must include at least an A-z character set.
          li.list__el Fonts available for a limited time only are not accepted.
        div.radio
          span.radio__title Are you the author of the font?
          div.radio__item
            label
              input(type='radio' name='radio' checked=)
              span Yes, I created it myself.
          div.radio__item
            label
              input(type='radio' name='radio')
              span No, I found it somewhere.
        textarea.textarea By submitting this form you certify that you are the author of the font, that it is not someone else's design, and that you have the publishing rights on it. You allow dafont.com to propose it for download, and you are aware that once online every visitor can freely download it, but fontsly.com does not control the issues people do with the font. Dafont.com declines any responsibility in case of non-respect by the users of the terms mentionned in the text files.
        div.request
          p.request__descr All fields are optional except the file field. Please be sure to keep the readme text files in the zip.
          form.request__form
            div.request__item
              label.request__label Font Name:
              input.request__input(type='text')
            div.request__item
              label.request__label Font Designer:
              input.request__input(type='text')
            div.request__item
              label.request__label Designer Email Address:
              input.request__input(type='email')
            div.request__item
              label.request__label Website Url:
              input.request__input(type='text')
              span.request__tip optional
            div.request__item
              label.request__label File (.ttf or .zip):
              div.request__download
                label
                  span Choose File
                  input(type='file' id='input-file')
                span.request__file-selected no file selected
            div.request__item
              label.request__label Recommended theme:
              div.select.is-large
                select
                  option(value='Theme 1') Theme 1
                  option(value='Theme 2') Theme 2
                  option(value='Theme 3') Theme 3
            div.request__item
              label.request__label License:
              div.select.is-large
                select
                  option(value='')
                    option(value='')
                    option(value='')
            div.request__item
              label.request__label Paypal for Donation:
              input.request__input(type='text')
              span.request__tip optional
            div.request__item
              label.request__label Commercial License Url:
              input.request__input(type='text')
              span.request__tip optional
            div.request__item
              label.request__label Note of the author:
              textarea.textarea.small
            div.request__item
              label.request__label Illustration:
              idiv.request__download
                label
                  span Choose File
                  input(type='file' id='#')
                span.request__file-selected no file selected
              span.request__tip very optional - max width:800px
            div.request__text
              p If possible in PNG (why PNG?) and not JPG.
              p Graphics with solid backgrounds saved in JPG will be rejected. JPGs converted in PNG will be rejected as well, you must export to PNG the original, undamaged file.
          div.request__btn
            button(type='submit').btn.small Submit
