extends ../base
block title
  |Fontsly
block main
  main.main.is-4-inner
    div.container
      div.title-head
        h1 Submit a font
      div.request-wrap
        ul.list.circle
          li.list__el Diffusion on this site is not automatic. It is a selection, each font is submitted to review.
          li.list__el Fonts must include at least an A-z character set.
          li.list__el Fonts available for a limited time only are not accepted.
        div.radio
          span.radio__title Are you the author of the font?
          div.radio__item
            label
              input(type='radio' name='radio-one' value='yes' checked)
              span Yes, I created it myself.
          div.radio__item
            label
              input(type='radio' name='radio-one' value='no')
              span No, I found it somewhere.

        div.input-form-content
          include ../partials/form-yes
          include ../partials/form-no