// background
$bgGrey: #f0f0f0
$bgGreyHover: #e0e0e0
$bgHoverBlue: #419bec

// border
$borderGrey: #eaeaea

// text
$text: #212121
$textGrey: #939393
$textLink: #2f88d8

// transition
$transition: all .3s ease-in-out