-
  const navFooter = [
    { title: 'Terms', link: '#' },
    { title: 'Privacy Policy', link: '#' },
    { title: 'DMCA', link: '#' },
    { title: 'Contact us', link: '#' }
  ]

footer.footer
  div.container
    div.footer__wrap
      div.footer__left
        p.copyright © 2019 Fontsly.com. All rights reserved.
        ul.nav-footer
          each el in navFooter
            li.nav-footer__el
              a.nav-footer__link(href=el.link)= el.title
      // end footer__left
      div.footer__right
        ul.social
          li.social__el
            a.social__link(href='#')
              span.icon.is-fb
          li.social__el
            a.social__link(href='#')
              span.icon.is-pn
          li.social__el
            a.social__link(href='#')
              span.icon.is-be
// end footer