div.radio__form.radio-form-no
  div.request
    div.request__search
      span.request__title First, verify that the font doesn't exist on fontsly:
      div.search.with-100
        form.search__form(action='#')
          input.search__input(type='text', placeholder='Search')
          button.search__btn(type='submit')
            span.icon.icon-search
    p.request__descr All fields are optional except the file field. Please be sure to keep the readme text files in the zip.
    form.request__form
      div.request__item
        label.request__label How did you get this font?
        textarea.textarea.small
      div.request__item
        label.request__label Name of the author:
        input.request__input(type='text')
      div.request__item
        label.request__label Email of the author:
        input.request__input(type='email')
      div.request__item
        label.request__label Site of the author:
        input.request__input(type='text')
      div.request__item
        label.request__label File (.ttf or .zip):
        div.request__download
          label
            span Choose File
            input(type='file' id='input-file')
          span.request__file-selected no file selected
      div.request__btn
        button(type='submit').btn.small Submit